.my-layout {
  padding: 50px 0;
  background-color: #fff;
}

.my-sider ul {
  border-color: #efefef;
}

.my-sider li {
  padding-left: 0 !important;
}

.my-sider li:first-child {
  margin-top: 0;
}

.my-sider li.ant-menu-item-selected {
  background-color: transparent !important;
}

.my-sider li.ant-menu-item-selected::after {
  right: 0;
}