@import '~antd/dist/antd.css';

.upper {
  height: 120px;
  padding: 0 50px;
}

.upper::after {
  display: block;
  clear: both;
  height: 0;
  content: '\20'
}

.upper-user-avatar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.upper-user-dropdown-menu ul {
  border: none;
  margin: -10px;
}

.upper-user-dropdown-menu ul li:not(:last-child) {
  margin-bottom: 4px !important;
}

.upper-user-dropdown-menu .anticon {
  margin-right: 8px;
}

.upper-user-notices-title {
  display: inline-block;
  margin: 5px 0;
}

.upper-user-notices {
  width: 240px;
}

.upper-user-notices-item {
  overflow: hidden;
}

.upper-user-notices-item:first-child {
  padding-top: 0;
}

.upper-user-notices-item:last-child {
  padding-bottom: 0;
}

.upper-user-notices-item div {
  width: 100%;
  font-size: 12px;
}

.upper-user-notices-item .title {
  width: 90%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logo {
  position: relative;
}

.logo > img {
  max-height: 30px;
}

.navbar {
  height: 64px;
  line-height: 64px;
  border-bottom: none;
}

.content {
  padding: 0 50px;
}

