@import '~antd/dist/antd.css';

@font-face {font-family: 'logo';
  src: url('//at.alicdn.com/t/webfont_uanz48ebhe7.eot');
  src: url('//at.alicdn.com/t/webfont_uanz48ebhe7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/webfont_uanz48ebhe7.woff') format('woff'),
  url('//at.alicdn.com/t/webfont_uanz48ebhe7.ttf') format('truetype'),
  url('//at.alicdn.com/t/webfont_uanz48ebhe7.svg#杨任东竹石体-Bold') format('svg');
}

.upper {
  height: 120px;
  padding-left: 65px;
  padding-right: 50px;
}

.upper::after {
  display: block;
  clear: both;
  height: 0;
  content: '\20'
}

.logo {
  position: relative;
  height: 120px;
  line-height: 120px;
  float: left;
  font-family: 'logo';
  font-size: 32px;
  color: rgb(81, 44, 86);
  cursor: default;
}

.logo .anticon {
  vertical-align: -11px;
  margin-right: 5px;
}

.navbar {
  height: 64px;
  line-height: 64px;
  border-bottom: none;
}

.content {
  padding: 0 50px;
}

