@import '~antd/dist/antd.css';

@font-face {
  font-family: 'logo';
  src: url('//at.alicdn.com/t/webfont_ueqr6lyjo2s.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_ueqr6lyjo2s.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_ueqr6lyjo2s.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_ueqr6lyjo2s.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_ueqr6lyjo2s.svg#站酷小薇体') format('svg'); /* iOS 4.1- */
}

.upper {
  height: 120px;
  padding: 0 50px;
}

.upper::after {
  display: block;
  clear: both;
  height: 0;
  content: '\20'
}

.upper-user-avatar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.upper-user-dropdown-menu .anticon {
  margin-right: 8px;
}

.upper-user-dropdown-menu .ant-dropdown-menu-item {
  padding: 5px 15px;
}

.logo {
  position: relative;
  height: 120px;
  line-height: 120px;
  float: left;
  font-family: 'logo';
  font-size: 32px;
  color: rgb(81, 44, 86);
  cursor: default;
}

.logo .anticon {
  vertical-align: -11px;
  margin-right: 5px;
}

.navbar {
  height: 64px;
  line-height: 64px;
  border-bottom: none;
}

.content {
  padding: 0 50px;
}

